.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  margin-left: 320px; 
  overflow-y: auto;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}

.home {
  text-align: left;
  font-size: large;
  padding: 0 0px;

}

.tab-icon {
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

.tab-content {
  margin-top: 20px;
}

.start-learning-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-learning-btn img {
  width: 80px;
  height: auto;
}

.start-learning-btn:hover {
  opacity: 0.8;
}

.MuiButtonGroup-root {
  box-shadow: none !important;
}

.MuiButton-root {
  text-transform: none !important;
}